body {
    font-family: 'Lexend', sans-serif;
}
#contacto{
    background: #ae3067;
    border:#f95c93;


    padding: 12px 14px 5px 8px;
    margin: 10px 10px 5px 10px;


    padding-bottom: 14px;
    padding-right: 5px;
    padding-left: 2px;

    margin: 10px;

    margin-top: 10px;
    margin-right: 12px;
    margin-bottom: 20px;
    margin-left: 12px;

}

.producto-tarjeta {
    width: 280px;
    background-color: blueviolet;
    border-radius: 12px;
    text-align: center;
    margin: 10px;
    display: inline-block;
}
.producto-img {
    width: 100%;
    height: 240px;
    object-fit: contain;
}
.producto-titulo {
    font-size: 20px;
    font-weight: bold;
    
}

.producto-desc{
    font-size: 14px;
    color: rgb(212, 228, 107);
}

.producto-btn{
    background-color: aqua;
    color: aquamarine;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.producto-btn:hover{
    background-color: rgb(49, 49, 93);
    color: white;
}

.producto-tarjeta {
  width: 280px;
  background-color: antiquewhite;
  border-radius: 12px;
  text-align: center;
}

.producto-img {
  width: 100%;
  height: 240px;
  object-fit: contain;
}

.producto-titulo {
  font-size: 20px;
  font-weight: bold;
}

.producto-desc {
  font-size: 14px;
  color: brown;
}

.producto-btn {
  background-color: chocolate;
  color: whitesmoke;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.producto-btn:hover {
  background-color: brown;
}
