*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
    padding: 40px;
}


.grid{
    display: grid;
    grid-template-columns: 40px 20px;
    gap: 10px;
    justify-content: center;
}

.item{
    border: 2px solid #e0c61b;
    padding: 25px;
    text-align: center;
    font-size: 22px;

}

.item-4{
    grid-column-start: 3;
    background-color: #73e480;
    grid-column-end:2;
}
.galeria{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 160px;
    gap: 20px;
}
.card{
    border-radius: 15px;
    background-size: cover;
    background-position: center;
}
.c1{
    grid-column-end: 3;
    grid-row: 1/3;
    grid-column-start: 1;
    background-image: url(https://i.pinimg.com/736x/5a/48/18/5a4818e59bbd52f55d228e5eeab9a1db.jpg);
}
.c2{
    grid-column: 3/5;
    grid-row: 1/2;
    background-image: url(https://i.pinimg.com/736x/92/f5/89/92f5897537830ebb0c2e7595f49aa3e4.jpg);
}
.c3{
    grid-column: 5/7;
    grid-row: 1/3;
    background-image: url(https://i.pinimg.com/736x/33/5b/d0/335bd08c28555b0ab5bd3f5ad59e022f.jpg);
}
.c4{
    grid-column: 3/5;
    grid-row: 2/3;
    background-image: url(https://i.pinimg.com/736x/8b/c8/88/8bc88861b31e163725ac29801f7543b6.jpg);
}
.c5{
    grid-column: 3/6;
    grid-row: 3/5;
    background-image: url(https://i.pinimg.com/736x/c6/44/cf/c644cf350da4e83c984c120e4c4b5d65.jpg);
}
.c6{
    grid-column: 6/6;
    grid-row: 3/5;
    background-image: url(https://i.pinimg.com/736x/71/d1/c5/71d1c5ae10e320b56b91ab7eaf7edd38.jpg);
}
.c7{
    grid-column: 1/3;
    grid-row: 3/5;
    background-image: url(https://i.pinimg.com/1200x/1d/63/61/1d6361d02741eff9ef45bd82d8e35427.jpg);
}
.c8{
    grid-column: 7/4;
    grid-row: 5/7;
    background-image: url(https://i.pinimg.com/736x/b3/aa/29/b3aa2906966cc3f450db77567f4df06a.jpg);
}