.producto-tarjeta {
    width: 280px;
    background-color: blueviolet;
    border-radius: 12px;
    text-align: center;
    margin: 10px;
    display: inline-block;
}
.producto-img {
    width: 100%;
    height: 240px;
    object-fit: contain;
}
.producto-titulo {
    font-size: 20px;
    font-weight: bold;
    
}

.producto-desc{
    font-size: 14px;
    color: rgb(212, 228, 107);
}

.producto-btn{
    background-color: aqua;
    color: aquamarine;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.producto-btn:hover{
    background-color: rgb(49, 49, 93);
    color: white;
}